## Archivos de Visual Studio
.vs/
*.user
*.suo

## Archivos de compilación
bin/
obj/

## Archivos temporales de build
*.log
*.tmp

## Archivos del sistema operativo
Thumbs.db
.DS_Store

## Otros archivos innecesarios
*.cache
*.pdb
*.dbmdl
*.jfm

## Archivos personales de VS
*.vscode/
